@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
background-color: antiquewhite;
}

*{
    margin:0;
    padding:0;
}

nav{
  font-family: Fira Sans, sans-serif;
font-size: 23px;
background-color: black;
color:blanchedalmond;
height: 60px;}

a {
  text-decoration: none;   /* remove underline */
  color: blanchedalmond;       
  font-weight: 400;     /* or any color you want */
}


nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 2px;
    
}

.brand img{
    width: 50px;
    height: auto;
    margin-right: 20px;
    border-radius: 50%;
    padding-top: 3px;
}

.brand
{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
}

nav ul li{
    margin-right: 30px;
    
    color: blanchedalmond;
}

.h11{
    text-align: top;
    top:0;
}
.container{
    min-height: 70vh;
    display: flex;
    width:55%;
    background-color: black;
    color: blanchedalmond;
    background-image: url('background.png' );
    justify-content: flex-start;
    margin:23px auto;
    flex-direction: column;
    padding: 20px;
}
.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myprogressbar{
    width: 80vh;
    height: 5px;
    background-color: #555;
    border-radius: 5px;
    cursor: pointer;
}
.icons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}
.icons i{
    cursor: pointer;
}

.songItemImg{
    width: 70px;
    height: 70 px;
    border-radius: 10px;
    margin-right: 10px;
}

.songItemContainer{
    display: flex;
    height: 40px;
    width: 40%;
    background-color: blanchedalmond;
    color: black;
   margin-top: 10px;
   border-radius: 20px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 30px;

}
.songItemImg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}   

.songListPlay{
    margin-left:30px;
    padding-left: 40px;
}

.timestamp{
    cursor: pointer;
}
.songinfo{
    position: absolute;
    left: 14vw;
}

.songinfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;

}

.songItemContainer span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.h12{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.h12 p {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 800px; /* Prevents text from stretching too wide */
    margin-bottom: 15px;
}

/* Mobile-specific adjustments */
/* Mobile-specific adjustments */
@media (max-width: 768px) {

    /* Body adjustments */
    body {
        margin: 0;
        padding: 0;
        font-family: 'Fira Sans', sans-serif;
        background-color: #f5e8d8; /* lighter background for mobile */
    }

    /* Navbar/Header */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        background-color: black;
        color: blanchedalmond;
        font-size: 18px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
    }

    .brand {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
    }

    .brand img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
        border-radius: 50%;
    }

    nav ul {
        display: flex;
        gap: 10px;
        padding-left: 0;
    }

    nav ul li {
        margin-right: 0;
        font-size: 16px;
    }

    a {
        text-decoration: none;
        color: blanchedalmond;
        font-weight: 400;
    }

    /* Container adjustments */
    .container {
        width: 90%;
        min-height: 60vh;
        background-color: black;
        color: blanchedalmond;
        background-image: url('background.png');
        margin: 70px auto 20px auto; /* top margin for fixed nav */
        flex-direction: column;
        padding: 15px;
        border-radius: 10px;
    }

    /* Song item adjustments */
    .songItemContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background-color: blanchedalmond;
        color: black;
        padding: 8px 10px;
        border-radius: 20px;
        margin-top: 15px;
    }

    .songItemImg {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        object-fit: cover;
        margin-right: 10px;
    }

    .songListPlay {
        margin-left: 10px;
    }

    .songinfo {
        position: relative;
        left: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    /* Timestamp/play button */
    .songItemPlay {
        background-color: black;
        color: blanchedalmond;
        border: none;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    /* Master play bar at bottom */
    .masterPlayContainer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: black;
        color: blanchedalmond;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 1000;
    }

    .masterPlayContainer img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        object-fit: cover;
    }

    /* Progress bar */
    #myprogressbar {
        flex: 1;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        cursor: pointer;
    }

    /* Icon adjustments */
    .icons {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .icons i {
        font-size: 20px;
        cursor: pointer;
    }

    /* Bottom/footer */
    .bottom {
        height: 100px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: blanchedalmond;
        position: relative;
        bottom: 0;
        width: 100%;
        padding: 10px 0;
    }
}
